body {
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  flex-grow: 1;
}
main h1 {
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
}

main h2 {
  font-size: 3rem;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  body {
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
  }
  main {
    padding-block-start: 196px;
    justify-content: start;
  }
}
